:root {
  --mainGreen: #45A29E;
  --Black: #0B0CA0;
  --darkGray: #1F2833;
  --lightGray: #C5C6C7;
  --brightGreen: #66FCF1;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  height: 100%;
}

body {
  color: var(--mainGreen) !important;
  background: var(--blackBlack) !important;
  font-size: 62.5%;
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}